table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
}
td, th{
    border: 1px solid #222222;
    text-align: left;
    padding: 8px;
}
td:nth-child(even) {
    background-color: green;
}
td:nth-child(odd) {
    background-color: greenyellow;
}
th{
    text-align: center;
    background-color: rgb(8, 83, 8);
    color: white;
}